@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

button {
	transition: all 0.2s ease-out;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */
/*
body {
 color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); 
}*/
.blur__fix {
	-webkit-backdrop-filter: blur(4px) brightness(0.9);
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-webkit-transform: translate(0, 0);
	-moz-transform: translate3d(0, 0, 0);
	text-shadow: 1px 1px 20px black;
}

/* Фикс закругления яндекс карты */
.ymaps-2-1-79-inner-panes {
  border-radius: 0.5rem;
}