@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */
/*
body {
 color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); 
}*/

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

@keyframes animate-card {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes animate-card-reverse {
	0% {
		width: 200px;
	}
	100% {
		width: 100px;
	}
}

.animate-card {
	animation-name: animate-card;
	animation-duration: 2s;
}

.animate-card-reverse {
	animation-name: animate-card-reverse;
	animation-duration: 2s, linear;
}
.card-grid {
	grid-area: 1 / 1 / 2 / 2;
}
.ymaps-2-1-79-ground-pane {
	filter: hue-rotate(180deg);
	-ms-filter: hue-rotate(180deg);
	-webkit-filter: hue-rotate(180deg);
	-moz-filter: hue-rotate(180deg);
	-o-filter: hue-rotate(180deg);
}